@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto:wght@500;700&display=swap');


/*Common*/
.App{
  width: 1266px;
  height: 716px;
  background: #FFFCF5;
}





/*NavBar.jsx*/
.nav-bar {
  background-color: #F7E6CB;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 111px;
  }
  
  .menu {
    align-items: center;
    display: inline-flex;
    gap: 30px;
    font-family: "Inter-Regular", Helvetica;
  }
  
  .heading {
    display: flex;
  justify-content: flex-end;
  margin-left: 75px;
  }
  
  .getStarted {
    color: #000;
    font-family: Poppins;
    font-size: 13.714px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 118px;
    height: 31px;
    border-radius: 5px;
    border: 3px solid #FE9563;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-item {
    color: #000;
    font-family: Poppins;
    font-size: 13.714px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }





/*FrontPage.jsx*/

  .FrontPage {
    display: flex;
    background-color: #F7E6CB;
  }

  .LeftFrontPage{
    margin-top: 80px;
    margin-left: 90px;
    margin-right: 61.49px;
 }

  .FrontLeftContainer{
    color: #455A64;
    font-family: Poppins;
    font-size: 12.462px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.399px;
  }

  .FrontPage h1{
    width: 414px;
    height: 159px;
    color: #455A64;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.92px;
  }

  .FrontPage p{
    width: 449px;
    height: 48px;
    color: #535359;
    font-family: Poppins;
    font-size: 16.665px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.446px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
  }

  /* .FrontPage h2{
    color: #455A64;
    font-family: Poppins;
    font-size: 12.462px;
    font-style: normal;
    font-weight: 700;
    line-height: 187.76%;
  } */

  .LearnMoreButton {
    width: 131px;
    height: 39px;
    display: inline-flex;
    padding: 9px 25px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    background: #455A64;
    border: none;
    cursor: pointer;

    color: #F3FCFF;
    font-size: 14.129px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    line-height: 20.725px;
    text-align: center;
    display: inline-flex;
    padding: 9px 25px;
    align-items: flex-start;
    gap: 10px;

    margin-bottom: 10px;
    margin-right: 15px;
  }

  .LearnMoreIcon{
    margin-left: 2px;
    margin-right: 5px;
  }

  .RedPipe {
    width: 2px;
    height: 14px;
    flex-shrink: 0;
    color: #FE9C69;
    margin: 0 5px;
  }

  .SocialMediaTree{
    margin-right: 61.49px;
    margin-left: 50px;
    margin-top: 36px;
    margin-bottom: 24.5px;
    width: 434.035px;
    height: 474px;
    flex-shrink: 0;
  }








































  
 




.ShortCards, .p-4 {
  display: flex;
  text-align: center;
  border-radius: 44px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px; 
}

.BoxHead{
  color: #37474F;
font-family: Roboto;
font-size: 17.864px;
font-style: normal;
font-weight: 700;
line-height: 146.687%;
}

h5{
  display: flex;
  margin-top: 5px;
  color: #535359;
text-align: center;
font-family: Poppins;
font-size: 16.67px;
font-style: normal;
font-weight: 500;
line-height: 24.455px;
letter-spacing: 0.5px;
}

.ShortcardIcons{
  width: 76px;
  height: 76px;
  flex-shrink: 0;
}






.AnnouncementCard{
  display: flex;
  text-align: left;
  border-radius: 44px;
  margin-left: 170px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 30px; 
}

.left-half {
  float: left;
  width: 50%;
}

.right-half {
  float: left;
  width: 50%;
}



.LongCard{
  border-radius: 44px;
  margin-left: 70px;
  margin-right: 40px;
  margin-top: 80px;
  margin-bottom: 30px; 
}






.WomenHead{
  color: #37474F;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 146%;
}

.MobileWomen{
  width: 524.46px;
  height: 100px; 
  margin-left: 250px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.TextPara{
  display: flex;
  text-align: left;
}

.MessageIcon{
  margin-top: 14px;
  margin-bottom: auto;
  margin-left: 10px;
}

.TextPara h2{
  color: #37474F;
font-family: Poppins;
font-size: 17.359px;
font-style: normal;
font-weight: 700;
line-height: 148.2%;
margin-bottom: 10px;
margin-left: 10px;
}

.TextPara h5{
width: 278px;
text-align: left;
color: #535359;
font-family: Poppins;
font-size: 16.67px;
font-style: normal;
font-weight: 500;
line-height: 148.2%;
letter-spacing: 0.5px;
margin-top: 10px;
margin-left: 10px;
}



h2{
  color: #000;
font-family: Poppins;
font-size: 19.705px;
font-style: normal;
font-weight: 700;
line-height: 148.2%;
letter-spacing: 0.591px;
}

h3{
  text-align: center;
  width: 627px;
  height: 58px;
  flex-shrink: 0;
  color: #000;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.SecurityHeading{
  text-align: center;
  align-items: center;
  margin-left: 300px;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 70px;
}

.SecurityHeading h3 {
  margin-bottom: 10px;
}

.SecurityHeading h6 {
  margin-top: 10px;
}


h6{
  text-align: center;
  width: 601px;
  color: #393939;
text-align: center;
font-family: Roboto;
font-size: 16.67px;
font-style: normal;
font-weight: 500;
line-height: 148.2%;
letter-spacing: 0.5px;
}


h4{
  width: 407px;
  color: #000;
font-family: Poppins;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 126%;
}


.whiteCard{
  display: flex;
  margin-left: 40px;
  margin-top: 0px;
  text-align: left;
  width: 299px;
  height: 73px;
  flex-shrink: 0;
  border-radius: 13px;
  background: #FFF;
  box-shadow: 0px 9px 17px 0px rgba(0, 0, 0, 0.09);
}

.MobileHead h3 {
text-align: left;
margin-left: 40px;
color: #000;
font-family: Poppins;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 126%; 
width: 459px;
margin-top: 10px;
}


.MobileHead h6 {
  text-align: left;
  align-items: left;
  margin-left: 40px;
  margin-top: 0px;
  color: #393939;
  font-family: Roboto;
  font-size: 16.67px;
  font-style: normal;
  font-weight: 500;
  line-height: 148.2%;
  letter-spacing: 0.5px;
  width: 395px;
}


.IconPaste{
margin-top: 10px;
margin-left: 10px;
}

.StoryImage{
  text-align: center;
  width: 700px;
  height: 300px;
  flex-shrink: 0;
  margin-left: 130px;
  margin-top: 0px;
}

.StoryImage h3 {
margin-top: 0px;
}

.StoryImage h6 {
  margin-top: 0px;
  }

  .CustomerStories h3{
    text-align: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: auto;
    margin-left: 200px;
  }

  .CustomerStories h6{
    text-align: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: auto;
    margin-left: 200px;
  }



  .SearchBox{
  text-align: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 80px;
  }

  .SearchBox h3{
    text-align: center;
    align-items: center;
    margin-left: 300px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

.SearchInput{
width: 555px;
height: 50px;
border-radius: 16px 0px 0px 16px;
border: 0.5px solid #FE9563;
background: #FFF;
}

.SearchInputContainer{
display: flex;
margin-left: 250px;
}

.SearchButton{
  width: 210px;
  height: 53.5px;
  flex-shrink: 0;
  border: none;
  border-radius: 0px 8px 8px 0px;
  background: #FE9563;
  color: #FFF;
 font-family: Poppins;
 font-size: 20.857px;
 font-style: normal;
 font-weight: 400;
 line-height: 146.687%;
 }

  .GotQns{
    margin-left: 140px;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 20px;
  }


  .UserData{
    margin-left: 0px;
    margin-top: 60px;
  }


.LongCards{
  border-radius: 44px;
  margin-left: 120px;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px; 
}

  .CharlieFrame p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .CharlieFrame h4 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 25px;
  }
  

.CharlieTab{
  text-align: center;
  align-items: center;
}

.CharlieTabs{
  text-align: left;
  align-items: left;
}

.CharlieFrame .right-half{
  text-align: center;
  align-items: center;
}



h7{
  color: #000;
  font-family: Roboto;
  font-size: 15.725px;
  font-style: normal;
  font-weight: 700;
  line-height: 153.2%;
}

h8{
  color: #000;
font-family: Roboto;
font-size: 14.736px;
font-style: normal;
font-weight: 500;
line-height: 153.2%
}

.SendMessage{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 33px;
height: 33px;
flex-shrink: 0;
  border-radius: 8px;
}


.GroupContainer{
margin-left: 10px;
margin-top: 10px;
}


.GetButton{
  width: 160px;
height: 40px;
border: none;
background: #FE9563;
color: #F3FCFF;
font-family: Roboto;
font-size: 14.129px;
font-style: normal;
font-weight: 700;
line-height: 146.687%;
border-radius: 8px;
text-align: center;
}


.PricingButton{
width: 149px;
height: 40px;
margin-left: 8px;
padding: 9px 34px 10px 35px;
justify-content: center;
align-items: center;
border-radius: 8px;
border: 2px solid #FE9563;
}



footer {
  background-color: #F7E6CB;
  color: #000;
  padding: 20px;
  height: 30px;
}

.Footerr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CopyRightnIcons {
  display: flex;
  align-items: center;
}

.CopyRightnIcons p {
  margin: 0;
  margin-right: 35px;
  margin-left: 105px;
}

.CopyRightnIcons img {
  width: 28px;
  height: 28px;
  margin: 0 5px;
}

.contactInfo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contactInfo img {
  width: 18px;
  height: 18px;
  margin: 0 5px;
}

.contactInfo p {
  margin-right: 105px;
}


.PlaybuttonMan{
  margin-top: 120px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 250px;
}

.Man{
  align-items: center;
  text-align: center;
}


.OlmoButton{
  text-align: center;
  align-items: center;
  display: inline-flex;
padding: 10px 31px 9px 32px;
justify-content: center;
align-items: center;
border-radius: 8px;
border: none;
background: #FE9563;
color: #FFF;
font-family: Roboto;
font-size: 14.129px;
font-style: normal;
font-weight: 700;
line-height: 146.687%; /* 20.725px */
}


.OlmosTabs{
text-align: center;
align-items: center;
}


