.App{
  background: #FFFCF5;
}

.nav-bar {
  background-color: #F7E6CB;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 111px;
  }
  

  h1{
    width: 414px;
    color: #455A64;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 126%; /* 52.92px */
  }


  p{
    text-align: left;
    width: 449px;
    color: #535359;
    font-family: Poppins;
    font-size: 16.665px;
    font-style: normal;
    font-weight: 500;
    line-height: 146.687%;
    letter-spacing: 0.5px;
  }


  .menu {
    align-items: center;
    display: inline-flex;
    gap: 30px;
    font-family: "Inter-Regular", Helvetica;
  }
  
  .heading {
    display: flex;
  justify-content: flex-end;
  }
  
  .getStarted {
    color: #000;
    font-family: Poppins;
    font-size: 13.714px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 118px;
    height: 31px;
    border-radius: 5px;
    border: 3px solid #FE9563;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-item {
    color: #000;
    font-family: Poppins;
    font-size: 13.714px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .Centre {
    display: flex;
    background-color: #F7E6CB;
  }


.LearnMoreButton {
    border-radius: 6px;
    background: #455A64;
    color: #F3FCFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: inline-flex;
    padding: 9px 25px;
    align-items: flex-start;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  .LearnMoreButton + img {
    margin-top: 30px;
  }
  .Olmo{
    color: #455A64;
    font-family: Poppins;
    font-size: 12.462px;
    font-style: normal;
    font-weight: 700;
    line-height: 187.76%;
  }

  .SocialTree{
    margin-right: 290px;
    margin-left: auto;
    margin-top: 30px;
    width: 325px;
    height: 474px;
  }

  .LeftSocial{
     margin-top: 30px;
     margin-left: 90px;
     margin-right: auto;
  }

.RedPipe {
  color: #FE9C69;
  margin: 0 5px;
}

.ShortCards, .p-4 {
  display: flex;
  text-align: center;
  border-radius: 44px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px; 
}


.AnnouncementCard{
  display: flex;
  text-align: left;
  border-radius: 44px;
  margin-left: 170px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 30px; 
}

.left-half {
  float: left;
  width: 50%;
}

.right-half {
  float: left;
  width: 50%;
}



.LongCard{
  display: flex;
  text-align: center;
  border-radius: 44px;
  margin-left: 70px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px; 
}

.BoxHead{
  color: #37474F;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 146%;
}

h5{
  display: flex;
  margin-top: 5px;
  color: #535359;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.5px;
}

.WomenHead{
  color: #37474F;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 146%;
}

.MobileWomen{
  width: 524.46px;
  height: 100px; 
  margin-left: 250px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2{
  color: #000;
font-family: Poppins;
font-size: 19.705px;
font-style: normal;
font-weight: 700;
line-height: 148.2%;
letter-spacing: 0.591px;
}

h3{
  text-align: center;
  width: 627px;
  height: 58px;
  flex-shrink: 0;
  color: #000;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.SecurityHeading{
  text-align: center;
  /* justify-content: center; */
  margin-left: 300px;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 80px;
}

.SecurityHeading h3 {
  margin-bottom: 10px;
}

.SecurityHeading h6 {
  margin-top: 10px;
}


h6{
  text-align: center;
  width: 601px;
  color: #393939;
text-align: center;
font-family: Roboto;
font-size: 16.67px;
font-style: normal;
font-weight: 500;
line-height: 148.2%;
letter-spacing: 0.5px;
}


footer {
  background-color: #F7E6CB;
  color: #000;
  padding: 20px;
  height: 30px;
}

.Footerr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CopyRightnIcons {
  display: flex;
  align-items: center;
}

.CopyRightnIcons p {
  margin: 0;
  margin-right: 35px;
  margin-left: 105px;
}

.CopyRightnIcons img {
  width: 28px;
  height: 28px;
  margin: 0 5px;
}

.contactInfo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contactInfo img {
  width: 18px;
  height: 18px;
  margin: 0 5px;
}

.contactInfo p {
  margin-right: 105px;
}


